/* Fonts */

@font-face {
	font-family: 'Trebuchet MS';
	src: url('trebuchet_ms-webfont.eot?') format('eot'),
		url('trebuchet_ms-webfont.woff') format('woff'),
		url('trebuchet_ms-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Museo (OT1)';
	src: url('museo300-regular-webfont.eot?') format('eot'),
		url('museo300-regular-webfont.woff') format('woff'),
		url('museo300-regular-webfont.ttf') format('truetype');
}

/* Resets */

* {
	box-sizing: border-box;
}

table {
	border-collapse:collapse;
	table-layout:fixed;
}

ul {
	list-style: none;
	padding-left: 0;
}

/* Main layout */

body {
	margin: 0 2em 2em;
	background: url('content_bg.jpg') top left repeat;
}

header {
	padding: 2em 0;
	background: url("webpro-57x57.png") left center no-repeat;
}

article {
	margin: 0 auto 2em;
	column-width: 23em;
	column-gap: 2em;
}

section,
table,
ul {
	column-break-inside: avoid;
}

h1,
h2 {
	column-break-after: avoid;
}

section:after {
	/*
	 * Ugly hack to prevent table shadow from rendering in next column (WebKit)
	 * This now also serves as bottom margin
	 */
	content: "\00a0";
}

/* Typography */

body {
	font-family: 'Trebuchet MS';
	font-size:16px;
	color: #424242;
}

header,
footer {
	text-align: center;
}

h1, h2, h3, table th {
	font-family: 'Museo (OT1)';
	font-weight:normal;
	text-shadow:0 1px 0 #fff;
	letter-spacing:1px;
}

header h1 {
	font-size: 2em;
	color: #424242;
	margin: 0;
}

h1, .alpha {
	font-size:1.5em;
	margin: 0 0 0.3em;
	color: #F68A22;
}

h2, .beta {
	font-size:1.25em;
}

p, a {
	color: #555;
}

a {
	transition: all 0.3s;
}

a:hover {
	color: #f68a22;
	border-bottom-color: #f68a22;
}

article a {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}

/* Table */

table,
ul {
	width: 99%;
	background-color: #f4f4f4;
	margin: 0 0 2em;
}

table,
ul,
.table-header {
	box-shadow: 3px 3px 3px #CCC;
}

table thead,
.table-header {
	background-color: #ddd;
}

.table-header {
	margin: 0;
	width: 99%;
}

.table-header,
td,
li {
	padding: 0.9em 5px;
}

td {
	text-align: center;
	vertical-align: middle;
}

th {
	padding: 0.3em 5px 0.2em;
}

th:first-child, td:first-child {
	text-align:left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

th:not(.description) {
	width: 77px;
}

@media all and (max-width: 1024px) {
	body {
		margin: 0 0.5em 2em;
	}
	article {
		column-gap: 1em;
	}
}

